nav {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: #f2f4f7;
  justify-content: center;
  position: relative;
}

nav a {
  color: black;
}

nav img {
  position: absolute;
  top: 38px;
  left: 64px;
}

nav a:hover {
  color: #d84343;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: #d84343;
}
