.movieInfoCard {
  display: flex;
  margin: 24px;
  gap: 24px;
}

.movieInfoCard img {
  width: 400px;
  object-fit: contain;
}

.movieInfoCardDescription {
  display: flex;
  flex-direction: column;
}
